.background{
    width: 830px;
     height: 620px; 
     left: 515px;
      top: 33px;
       position: absolute;
 }
.container {
    text-align: center;
   padding: 20px;
    border-radius: 5px;
   width: 466px;
    height: 119px;
    left: 0px; 
    top: 112px;
    position: absolute; 
    color: #21344E;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 20.82px;
    word-wrap: break-word
}

h1 {
    
    left: 40px;
    top: 16px;
    position: absolute; 
    color: #21344E; 
    font-size: 14px; 
    font-family: Lato;
    font-size: 40px;
    font-weight: 900;
    word-wrap: break-word 
        

}
.Pindex{
   float: left;
    padding-left: 30px;
    padding-top: 129px;
    margin-top: 15px;
    margin-left: 10px;
    width: 466px; 
    height: 119px;
    left: 0px; 
    top: 112px; 
    position: absolute; 
    color: #21344E; 
    font-size:17px; 
    font-family: Poppins; 
    font-weight: 800; 
    line-height: 20.82px; word-wrap: break-word
} 
.button {
    position: absolute;
    left: 33px; 
    }

.button a{
text-decoration: none;
width: 60px;
height: 25px; 
font-size: 18px;
font-family: 'Montserrat';
font-weight: 800;
padding: 10px 50px; 
display: inline-flex;
margin: 25px; 
left: 100px;
cursor: pointer;
margin-top: 485px;
border: none; 
text-align: center;
border-radius: 5px;
color: #F4FFF9;
background-color: #22345A;
text-align: center; 
word-wrap: break-word;
}

/* css for login */

.form-box h2 {
font-size: 22px;
text-align: left;
margin-top: 30px;
margin-bottom: 40px;
margin-left: 100px;
position: relative;
margin-top: 100px;
}
 
.form-box input {
width: 23%;                
height: 25px;               
background: transparent;    
border: none;               
outline: none;              
font-size: 16px;           
color: black;               
font-weight: 600;           
border-bottom: 2px solid #192940; 
padding: 10px;              
box-sizing: border-box;     
margin-top: 3px;  
margin-left: 47px;          
}

.form-box label {
display: block;            
margin-bottom: 3px;        
font-size: 16px;            
color: #192940;             
transition: all 0.3s ease;  
margin-left: 47px;  
}

.form-box input:hover {
border-bottom-color: #3498DB; 
}

.btn {
display: block;
width: 25%;
height: 45px;
background: transparent;
border-radius: 40px;
cursor: pointer;
font-size: 16px;
font-weight: 500;
border: 2px solid #22345A;
margin-left: 29px;
background-color: #192940;
color: white;
margin-top: 15px;
margin-bottom: 15px;
}

.Signuplink {
text-decoration: none;
margin-top: 35px;
margin-left: 100px;
font-size: 15px;
font-weight: 600;
}

.Signuplink {
text-decoration: underline;
color: #3498DB; 
}

.Signuplink a:hover {
text-decoration: underline;
}

.line {
height: 1px;
width: 26%;
position: relative;
background-color: #8AAFBF;
margin-top: 30px;
margin-left: 40px;
}

.line::before {
content: 'OR';
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
color: #000;
padding: 0 10px;
}

.text {
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    margin-left: 155px;
    margin-top: 10;
    position: absolute;
}

.text a {
    position: relative;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 0px;
}

  /* css for signup */
   .form-boxs h3 {
    color: black;
    font-family: Inter;
    font-weight: 400;
   font-size: 22px;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: 150px;
    position: relative;
    }
     .form-boxs .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    } 
    
    .input-box input {
        width: 23%;                
    height: 25px;               
    background: transparent;    
    border: none;               
    outline: none;              
    font-size: 16px;           
    color: black;               
    font-weight: 600;           
    border-bottom: 2px solid #192940; 
    padding: 10px;              
    box-sizing: border-box;     
    margin-top: 3px;  
    margin-left: 47px;     
    }
    .input-box input:hover {
        border-bottom-color: #3498DB; 
    }
      
    .input-box label {
        position: absolute;
        top: 10%;
        left: 40px;
        transform: translateY(-100%);
        font-size: 16px;
        color: #192940;
        transition: .5s;
        margin-top: 0px;
    }
    .btnsign {
   display: block;
    width: 25%;
    height: 45px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid #22345A;
    margin-left: 50px;
    background-color: #192940;
    color: white;
    margin-top: 5px;
} 
/* css for home =============*/

.Home * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.backimg {
    width: 1000px;
    left: 200px;
    bottom: 80px;
    top: 70px;
    height: 500px;
    position: absolute;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8AAFBF;
    padding: 10px 10px;
    transition: all 0.5s ease;
}

.sidebar .head {
    display: flex;
    gap: 20px;
}

.sidebar h2 {
    padding-top: 3px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease;
}

.logo-img {
    min-width: 40px;
}

.sidebar ul li img {
    width: 30px;
    height: 30px;
    }


.sidebar ul li {
    list-style: none;
    margin-bottom: 5px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 1px;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: white;
}

.sidebar ul li a:hover,
.sidebar ul li.active a {
    color: #8AAFBF;
    background-color: #22345A;
}

/* Sub-menu styles */
.sidebar .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #8AAFBF;
}

.sidebar .sub-menu li a {
    padding: 5px 5px;
    font-size: 15px;
}

.rotate {
    transform: rotate(180deg);
}

.sub-menu.show {
    display: block;
}

.nav {
    flex: 1;
}

/* Menu button styles */
.menu-btn {
    position: absolute;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.5s ease;
    right: -15px;
    top: 5%;
    height: 25px;
    width: 25px;
    font-size: 22px;
    color: #8AAFBF;
    background: #22345A;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-btn i {
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 99px;
}

.sidebar.active .text1 {
    opacity: 0;
}

.sidebar.active .menu-btn i {
    transform: rotate(180deg);
}

.sidebar.active .logo-details {
    display: none;
}

/*======== */